[package]
name = "microkernel"
version = "0.1.0"
authors = ["Franco Cuppari <franco.cuppari@gmail.com>"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
bootloader = "0.9"

[[bin]]
name = "microkernel"
test = false
bench = false